@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar start */
.nav_head {
    width: 100%;
    border-bottom: 1px solid rgb(243, 243, 247);
    z-index: 101;
    display: flex;
    justify-content: space-between;
    height: 52px;
    align-items: center;
}

.nav_left {
    cursor: pointer;
    display: flex;
    gap: 26px;
    
}

.nav_left :hover {
    color: orange;
}
.nav_s {
    display: inline-block;
    position: absolute;
    background: rgb(255, 105, 0);
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 100px;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

.nav_right {
    color: black;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.nav_right a {
    text-decoration: none;
    color: black;
}

.nav_right a:hover {
    color: orange;
}

/* navbar end */
/* header start*/
.header {
    display: flex;
    justify-content: space-between;
}

.head_left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.head_left h3 {
    font-size: 18px;
    font-weight: 500;
}

.head_left p {
    font-size: 15px;
    font-weight: 500;
}

.head_right {
    display: flex;
    align-items: center;
}
.right_icon {
    margin-right: 20px;
}

.head_right p {
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.head_right p:hover {
    color: orange;
}

.btn_head{
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: rgb(243, 243, 247);
    color: rgb(92, 99, 112);
    height: 40px;
    cursor: pointer;
    padding: 8px 20px;
}

.btn_head :hover {
    color: black;
}
/* header end */

.catalog_btn {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    padding-top: 5px;
    z-index: 10;
}

.btn_li {
    display: flex;
    list-style-type: none;
    gap: 20px;
    cursor: pointer;
}

.btn_basket {
    background-color: orange;
    color: white;
    border-radius: 20px;
    border: 1px solid transparent;
    height: 40px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
}
#carousel-card{
    border-radius: 20px;
    padding: 7px;
    border: 3px solid orange;
}
.most-relevant{
    box-shadow: 0px 5px 20px gray;
    transition: 0.2s;
}
.most-relevant:hover{
    box-shadow: none;
}

/* footer */
footer{
    background-color: rgb(24, 24, 24);
    color: rgb(255, 255, 255);
}
.footer_start {
    
    display: flex;
    justify-content: space-between;
    margin: 53px 113px
}

.footer h4, p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.footer_end {
    margin: 53px 113px
}

.footer_icon {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: end;
}

.footer_icon img {
    width: 200px;
}
.footer_info {
    display: flex;
    gap: 20px;
}

.footer_contact {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
/* footer */